<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @race.id %>
</p>

<p>
  <strong>Race:</strong>
  <%= @race.race %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
